#intro {
  width: 100%;
  height: 65vh;
  background-color:#FFFFFF;
  display: flex;
  margin: 0 auto;
}
.logo {
  align-self: center;
  margin:auto;
}
#subheading {
  display: flex;
  height: 20vh;
  width: 100%;
}
h2 {
  margin: 0 auto;
  text-align: center;
  font-family: oswald;
  letter-spacing: 1px;
  color: #575756;
}
#buttonregion {
  display: flex;
  width: 100%;
  height: 40vh;
}
.button {
  align-self: center;
  margin: 0 auto;
  width: 130px;
  max-height: auto;

}
.nav {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B2B2B2;
  color: #FFFFFF;
  font-family: oswald;
  font-size: 20px;
  letter-spacing: 1px;
}

li {
  padding: 14px 30px;
  display: inline-block;
}
.nav-link {
  color: #FFFFFF;
}
.jumbotron{
	background-image: url('../img/border.png');
	background-size: cover;
	background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 20%;
  margin: 0 auto;
}
#carouselExampleIndicators {
  height: 600px;
}
